
body {
  background-color: #0f181d;
}


/******************************NavigationBar*******************************/

.btn-search:hover {
  background: rgb(166, 63, 251);
  background: linear-gradient(90deg, rgb(166, 63, 251) 0%, rgba(252,70,107,1) 100%);
  border: none;
  color: #fff;
}
.form-control  {
  border-radius: 1.25rem !important;
  width: 70% !important;
  display: inline-block;
  background-color: #fff0;
  margin-right: 3%;
  
}
.form-control:focus {
  border: #bd2c74 !important;
  background-color: #fff0;
  box-shadow: 0 0 0 0.25rem #bd2c74;
  color: #fff;
}


.profile {
  border-radius: 100px;
  height: 2.5rem;
  width: auto;
}
.navbar-nav a {
  color: #bcbdbf;
  text-decoration: none;
  margin-right: 0.5rem;
}
.navbar-nav a:hover  {
  border-bottom: 1px solid #bd2c74 !important;
}
.navbar-nav a:focus {
  border-bottom: 1px solid #bd2c74 !important;
}
/* .nav-link:hover {
  border-bottom: 1px solid #bd2c74 !important;
}
.nav-link:focus {
  border-bottom: 1px solid #bd2c74 !important;
} */
.logo {
    height: 3rem;
    width: auto;
}
.btn-outline-info {
  color: #bd2c74;
  border-color: #bd2c74;
  border-radius: 2rem;
  margin-right: 3%;
}
.btn-outline-info:focus {
  box-shadow: 0 0 0 0.25rem #bd2c7448;
}
.bg-dark {
  background-color: #21252900!important;
}

.badge-favorite {
  font-size: smaller;
  font-weight: bold;
  background-color: #bd2c74;
  color: #bcbdbf;
  border-radius: 15px;
  padding: 2px 6px 2px 5px;
}
.navbar-shadow {
  box-shadow: 0 2px 4px 0 rgba(48, 44, 44, 0.322);
}

.btn-signIn {
  background: rgb(166, 63, 251);
  background: linear-gradient(90deg, rgb(166, 63, 251) 0%, rgba(252,70,107,1) 100%);
  border: none;
  color: #fff;
  border-radius: 2rem;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.733);
  background-clip: padding-box;
  border: 1px solid #bd2c74;
  border-radius: .3rem;
  outline: 0;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: white;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  color: white;
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: .75rem;
  border-top: 1px solid #f2f6f9;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
  color: white;
}
/******************************Cover*******************************/
.cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.4)),
  url(https://occ-0-55-778.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABSjPapI0ym-QDkuREgAmnEZsuz2WzmegYQw-m2VWou5jNqFkJdql2grHQKdxXrsFSi5i24X8dgSMgtRH3iLlv0lEfcie.jpg?r=bf6);
  background-size: cover;
  height: 40rem;
}
.btn-play {  
  height: 5rem;
  width: auto;
  margin-left: 50%;
  margin-top: 25%;
}
.cover-title {
  color: rgb(185, 171, 171);
  margin-top: 15%;
  margin-left: 55%;
}
.cover-subtitle {
  color: rgb(185, 171, 171);
  margin-left: 55%;
  margin-right: 7%;
}
.year {
  border: 1px solid white;
  padding: 2px;
}
.box {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgba(0, 0, 0, 0.616);
  background-color: rgba(163, 155, 155, 0.534);
  padding: 2rem;
  margin-top: -2%;
  margin-right: 5%;
  margin-left: 5%;
}
.enjoy {
  color: rgb(15, 15, 15);
  font-size: 1.5rem;
  font-weight: bold;
}
/******************************Popular Movies Section*******************************/

.head-title {
  color: #fff;
  border-bottom: 1px solid #bd2c74 !important;
}
span {
  color: #bd2c74;
}
.movie-card:hover .card-img-overlay {
  opacity: 1;
}

.card-img {
  height: 20rem;
}

.body-card {
  height: 9rem;
}
.card-img-overlay {
  opacity: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.4));
}

.movie-card {
  background-color: #130012b4 !important;
  border-bottom: 2px solid #bd2c74;

}
.inline-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.fa-star {
  color: rgb(250, 213, 6);
}
.fa-heart {
  color: rgb(224, 82, 105);
}

Button {
  background-color: transparent !important;
  border-color: transparent !important;
}
Button:focus {
  border-color: transparent !important;
  box-shadow: 0 0 0 0.25rem transparent !important;

}
.react-rater-star.is-active{
  color: yellow !important;
  font-size: 1.5rem !important;
}

.react-rater-star { 
  color: white !important;
  font-size: 1.5rem !important;
}
.react-rater-star.is-active-half:before {
  color: yellow !important;
}
/******************************Footer*******************************/
.nb-footer{
  background: #130012b4;
  padding-bottom: 30px;
}
.nb-footer .footer-single{
  margin-top: 30px;
}
.nb-footer .footer-title{
    display: block;
  margin: 10px 0 25px 0;
}
.nb-footer .footer-single a{
    text-decoration: none;
}

.nb-footer .footer-single h2{
    color: #eee;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  border-bottom: 2px solid #bd2c74;
  padding-bottom: 5px;
  margin-bottom: -2px;
}
.nb-footer .footer-single li{
  border-top: solid 1px #353535;
}
.nb-footer .footer-single li:first-child{
  border-top: none;
}
.nb-footer .footer-single li a{
  color: #979797;
  font-size: 12px;
  padding: 6px 0px;
  display: block;
  transition:all 0.4s ease-in-out;
}
.nb-footer .footer-single li a:hover{
  color: #bd2c74;
}
.nb-footer .footer-single li a:hover i{
  color: #bd2c74;
}
.nb-footer .dummy-logo {
    margin-top: 11px;
    padding-bottom: 9px;
}
.nb-footer .dummy-logo .icon {
    margin-right: 10px;
    border-radius: 20px;
    margin-top: 24px;
}
.nb-footer .brand {
    background: #bd2c74;
}
.nb-footer .dummy-logo i {
    font-size: 50px;
    color: #fff;
    padding: 5px;
}
.nb-footer .dummy-logo p {
    color: #999;
    font-size: 12px;
}
.nb-footer .dummy-logo h2 {
    font-size: 24px !important;
    border-bottom: none;
    color: #696969;
    padding: 5px 0;
}
.nb-footer .btn-footer{
  border: 1px solid #bd2c74;
  margin-top: 10px;
  color: #999;
}
.nb-footer .btn-footer:hover{
  background: #bd2c74;
  color: #fff;
  transition:all 0.4s ease-in-out;

}
.nb-footer .useful-links li a{
  text-transform: uppercase;
}
.nb-footer .footer-project a{
  font-size: 13px;
}
.nb-footer .footer-project img{
  margin-bottom: 20px;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 1px;
  opacity: 0.7;
  transition:all 0.4s ease-in-out;
}
.nb-footer .footer-project img:hover{
  opacity: 1.0;
  cursor: pointer;
}
.nb-footer .footer-project .footer-title{
  margin-top: 0;
}
.nb-footer .footer-single p, .footer-single address{
    color: #979797;
  font-size: 14px;
  margin-top: 5px;
  line-height: 22px;
}
.nb-copyright{
  background: #050005e0;
  padding-bottom: 10px;
}
 .nb-copyright .copyrt{
  margin-top: 22px;
  font-size: 14px;
}
.nb-copyright .copyrt a{
  color: #bd2c74;
}
.nb-copyright .footer-social{
    margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.nb-copyright .footer-social i{
  padding: 5px 10px;
  color: #999;
  border: 1px solid #333;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 5px;
  transition:all 0.4s ease-in-out;
}
.nb-copyright .footer-social i:hover{
  background: #bd2c74;
  color: #fff;
}
.nb-copyright .footer-social .fa-facebook{
  padding: 5px 14px;
}
@media(max-width: 767px){
     .xs-center{
    text-align: center;
}
 .left-clear{
    padding-left: 0;
}
 .right-clear{
    padding-right: 0;
}
}
/******************************Favorites Page*******************************/
.cover-favorite {
  background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.4)),
  url(https://images.unsplash.com/photo-1585951237318-9ea5e175b891?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bW92aWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  height: 40rem;
}
.title-favorite {
  text-align: center;
  color: white;
  margin-top: 15%;
}
.btn-remove {
  background-color: red !important;
  color: white;
  border: 1px solid white;
}
/******************************Series Page*******************************/
.cover-Serie {
  background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.4)),
  url(https://media.gqmagazine.fr/photos/5facfe288dc5e7e09e9d33b6/master/pass/Netflix%202021.jpg);
  background-size: cover;
  height: 40rem;
}
/******************************Genres Page*******************************/
.cover-Genre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.4)),
  url(https://images.unsplash.com/photo-1613679074451-9ddcc1103cc8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE2fHxtb3ZpZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  height: 40rem;
}